.CodeMirror{
  height: 340px !important;
  color: #fff;
}
.CodeMirror-gutters {
  background: #1d1e22 !important;
}
.CodeMirror-scroll {
  background: #1d1e22;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevents page scroll */
}

#root {
  height: 100%;
}